[submodule "stdlib"]
	path = stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "etckeeper"]
	path = etckeeper
	url = https://github.com/thomasvandoren/puppet-etckeeper.git
[submodule "postgresql"]
	path = postgresql
	url = https://github.com/puppetlabs/puppetlabs-postgresql.git
[submodule "concat"]
	path = concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "apache"]
	path = apache
	url = https://github.com/puppetlabs/puppetlabs-apache
